<!-- add standard layout header to all files -->
<%- include("header") -%>  

<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <% for (let i=0; i<toDoList.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= toDoList[i] %></p>
            </div>
        <% } %> 
        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="add item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle  %> >+</button>
        </form>
    </div>

<%- include("footer") -%> 