<%- include("partials/header") %> 

<h1>Home</h1>

<p><%= content %>  </p>

<% blogPosts.forEach(e => { %>
    <h2><%= e.title %></h2>
    <p><%= e.body.substring(0,100) %>...<a href= "/posts/<%= e.title %>" >read more</a></p>
<% }) %>

<%- include("partials/footer") %>